---
const title = "yuarasino-website";
const description = "新篠ゆうのウェブサイト";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <h1>{title}</h1>
    <p>{description}</p>
  </body>
</html>
